@use "../utils" as *;
@use "../globals" as *;

// Author Component
.author {
  align-items: center;
  display: flex;
  &__img {
    border: 2px solid #fff;
    border-radius: 50%;
  }
  &__name {
    font-size: 0.5em;
    padding: 0 1.25rem;
  }
}

// Heading Component
.heading {
  font-size: 1.1em;
  margin: 1.25rem 0;
}

// Detail Component
.detail {
  font-size: 0.7em;
  &--light-grey {
    color: var(--color-light-grey);
  }
}
